body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
}

.newline {
  margin-top: 20px;
}

pre.binary {
  text-align: center;
  white-space: pre-wrap;
  color: black;
  transition: color 0.3s ease;
}

pre.binary:hover {
  color: white;
}
